[run]
branch=True
source=snomedct_terminology_server/server
omit=snomedct_terminology_server/**/migrations/*,snomedct_terminology_server/server/tests/*

[report]
show_missing=True
precision=2
fail_under=99
exclude_lines =
              def get_queryset
              raise NotImplementedError

skip_covered=True

[html]
directory=coverage
