[run]
branch=True
source=snomedct_terminology_server/server
omit=snomedct_terminology_server/**/migrations/*,snomedct_terminology_server/server/tests/*,snomedct_terminology_server/server/expressions/grammars*,

[report]
show_missing=True
precision=2
fail_under=100

skip_covered=True

[html]
directory=coverage
